/* Padronização do CSS */
body{
    margin: 0;
}

html{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: #333;

}

a{
    text-decoration: none;
    color: #3d5898;
}

a:hover{
    text-decoration: underline;
}

hr{
    margin: 15px 0;
    border: 1px solid #dddfe2;
}

.hr2{
    margin: 10px 0;
}

/* Formulários em Geral*/

.input-inteiro{
    width: 97%;
    height: 35px;
}

.input-metade{
    width: 46%;
    height: 35px;
}

.radio{
    margin-left: 15px;
}

.icone-interrogacao img{
    width: 16px;
    padding-left: 10px;
    cursor: pointer;
    
}

/* Textos*/

h1{
    font-size: 30px;
    color: #333;
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 600;
    font-style: normal;
    line-height: 35px;
}

h2{
    font-size: 40px;
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
}

h3{
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    font-size: 22px;
}

h4{
    font-weight: bold;
    color: #90949c;
    margin-bottom: 5px;
}

.cinza-claro{
    color: #667;
}

.p-maior{
    font-weight: bold;
    font-size: 13px;
}

/* HEADER */

header{
    background-image: linear-gradient(#4d68a1,#3b5998);
    color: #fff;
    font-size: 12px;
    padding-top: 12px;
    
}



#container-header{
    width: 980px;
    margin: 0 auto;
    display: flex;
}


#logo{
    flex: 1;
}

#logo img{
    margin: 17px 0 0 2px;
}

#form-login{
    display: flex;
    flex: 1;
    justify-content: right;

}

#form-login input{
    height: 20px;
    border: solid 1px #000;
    width: 150px;
    display: flex;
}

#form-login button{
    height: 23px;
    border: solid 1px #29487d;
    background: #4267b2;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}

#form-login a{
    color:#9cb4d8;
    text-decoration: none;
}

#form-login a:hover{
    text-decoration: underline;
    margin-top: 0;
}

#form-login p{
    margin: 3px 0;
}

#form-login td{
    padding-right: 10px;
}

#form-login td:last-child{
    padding-right: 0px;
}

/*CONTEÚDO PRINCIPAL*/

main{
    background: #edf0f5;
    padding-bottom: 50px;
}

#container-main{
    width: 980px;
    display: flex;
    margin: 0 auto;
}

#conteudo-left{
    flex: 3;
    padding: 28px 0 0 0;
}

#conteudo-left article{
    display: inline-flex;
    margin: 13px 0;
}

#conteudo-left p{
    margin-left: 15px;
    font-size: 16px;
}

#conteudo-right{
    flex: 2;
    margin-top: -20px;
}

#conteudo-right input{
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    color:#61677F;
    margin-top: 4px;
    margin-bottom: 4px;
}

.termos{
    color: #777;
    font-size: 11px;
}

.termos a, p a{
    text-decoration: none;
    color: #385898;
}

.termos a:hover, p a:hover{
    text-decoration: underline;
}

#conteudo-right button{
    background: linear-gradient(#79bc64, #578843);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    width: 195px;
    border-radius: 5px;
    border: 1px solid #2c5115;
    text-align: center;
    padding: 5px 0;
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: inset 0 1px 1px #a4e388;
    cursor: pointer;
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 600;
    font-style: normal;
}


/*FOOTER*/

footer{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 980px;
    margin: 0 auto;
}

footer ul{
    font-size: 12px;
    display: inline;
    padding-left: 0;
}

footer li{
    color: #737373;
    list-style: none;
    display: inline;
    margin: 10px 7px 0 0;
}

.botao-mais{
    padding: 0px 9px;
    border: 1px solid #ccd0d5;
    font-weight: bold;
    background: #f5f6f7;
    border-radius: 2px;
    color: #4b4f56;
    font-size: 17px;
    cursor: pointer;
}


footer a li{
        text-decoration: none;
        color: #3d5898;
}

footer p{
    color: #737373;
    font-size: 11px;
    margin-top: 15px;
}

#linkagem li{
    margin-right: 16px;
}

.i-ads img{
    width: 12px;
    vertical-align: middle;
}
